body {
    background-color: pink;
    color: darkred;
    font-family: cursive;
    text-align: center;

}

img{
    width: 300px;
    height: 300px;
    text-align: center;
}

.yesGIFs{
    display: none;
    text-align: center;
}